<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weekly Timetable</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="">
        <div id="heading" class="flex flex-row w-[45vw]">
          <h1 class="w-[10vw] p-2">days</h1>
          <h1 class="w-[7vw] p-2">8-10</h1>
          <h1 class="w-[7vw] p-2">10-12</h1>
          <h1 class="w-[7vw] p-2">12-2</h1>
          <h1 class="w-[7vw] p-2">2-4</h1>
          <h1 class="w-[7vw] p-2">4-6</h1>
        </div>
        <div id="body" class="flex flex-row">
            <div class="w-[10vw]">
                <h1>monday</h1><br><br>
                <h1>tuesday</h1><br><br>
                 <h1>wednesday</h1><br><br>
                  <h1>thursday</h1><br><br>
                   <h1>friday</h1>
            </div>
        <form action="/register" method="post" enctype="multipart/form-data">
        <input type="text" name="mon1" id="mon1"  class="border-2 p-2 border-black w-[7vw]">
        <input type="text" name="mon2" id="mon2" class="border-2 p-2 border-black w-[7vw]">
        <input type="text" name="mon3" id="mon3"  class="border-2 p-2 border-black w-[7vw]">
        <input type="text" name="mon4" id="mon4" class="border-2 p-2 border-black w-[7vw]">
        <input type="text" name="mon5" id="mon5" class="border-2 p-2 border-black w-[7vw]"><br><br>

        <input type="text" name="tue1"  class="border-2 p-2 border-black w-[7vw]">
        <input type="text" name="tue2" class="border-2 p-2 border-black w-[7vw]">
        <input type="text" name="tue3" class="border-2 p-2 border-black w-[7vw]">
        <input type="text" name="tue4" class="border-2 p-2 border-black w-[7vw]">
        <input type="text" name="tue5"  class="border-2 p-2 border-black w-[7vw]"><br><br>

        <input type="text" name="wed1"  class="border-2 p-2 border-black w-[7vw]">
        <input type="text" name="wed2"  class="border-2 p-2 border-black w-[7vw]">
        <input type="text" name="wed3"  class="border-2 p-2 border-black w-[7vw]">
        <input type="text" name="wed4"  class="border-2 p-2 border-black w-[7vw]">
        <input type="text" name="wed5"  class="border-2 p-2 border-black w-[7vw]"><br><br>

        <input type="text" name="th1"  class="border-2 p-2 border-black w-[7vw]">
        <input type="text" name="th2" class="border-2 p-2 border-black w-[7vw]">
        <input type="text" name="th3" class="border-2 p-2 border-black w-[7vw]">
        <input type="text" name="th4" class="border-2 p-2 border-black w-[7vw]">
        <input type="text" name="th5" class="border-2 p-2 border-black w-[7vw]"><br><br>

        <input type="text" name="fri1" class="border-2 p-2 border-black w-[7vw]">
        <input type="text" name="fri2" class="border-2 p-2 border-black w-[7vw]">
        <input type="text" name="fri3" class="border-2 p-2 border-black w-[7vw]">
        <input type="text" name="fri4" class="border-2 p-2 border-black w-[7vw]">
        <input type="text" name="fri5" class="border-2 p-2 border-black w-[7vw]"><br><br>

        <input type="file" id="image" name="image" accept="image/*"><br><br>
         <input type="text" name="name" id="name" placeholder="name" class="border-2 p-2 border-black w-[7vw]"><br><br>
              <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Submit</button>
              
        </form>
        <a class="ml-[10vw]" href="/login">already register,login</a>
        </div>
          
    </div>
    <script src="https://cdn.tailwindcss.com"></script>
</body>

</html>
